### Задание 1
Напишите функцию, которая классифицирует фильмы из материалов занятия по правилам:

- оценка 2 и ниже — низкий рейтинг;

- оценка 4 и ниже — средний рейтинг;

- оценка 4.5 и 5 — высокий рейтинг.

Результат классификации запишите в столбец class.

In [1]:
import pandas as pd
import xlsxwriter

movies_df = pd.read_csv('movies.csv', encoding='utf-8')
movies_df.head(3)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance

In [2]:
rating_df = pd.read_csv('ratings.csv', encoding='utf-8')
rating_df.head(3)

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182

In [3]:
merged_df = pd.merge(movies_df, rating_df, how='left', on='movieId')
merged_df.head(3)

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7.0,3.0,8.518667e+08
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,9.0,4.0,9.386292e+08
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,13.0,5.0,1.331380e+09

In [4]:
def rate_movies(data_row):
    if data_row['rating'] <= 2:
        return 'низкий рейтинг'
    elif data_row['rating'] <= 4:
        return 'средний рейтинг'
    else:
        return 'высокий рейтинг'

In [5]:
new_df = merged_df.copy()
new_df['class'] = new_df.apply(rate_movies, axis=1)
new_df.head(3)

,movieId,title,genres,userId,rating,timestamp,class
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7.0,3.0,8.518667e+08,средний рейтинг
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,9.0,4.0,9.386292e+08,средний рейтинг
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,13.0,5.0,1.331380e+09,высокий рейтинг

In [6]:
def rate_movies_2(data_series):
    if data_series <= 2:
        return 'низкий рейтинг'
    elif data_series <= 4:
        return 'средний рейтинг'
    else:
        return 'высокий рейтинг'

In [7]:
new_df_2 = merged_df.copy()
new_df_2['class'] = new_df_2['rating'].apply(rate_movies_2)
new_df_2.head(3)

,movieId,title,genres,userId,rating,timestamp,class
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7.0,3.0,8.518667e+08,средний рейтинг
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,9.0,4.0,9.386292e+08,средний рейтинг
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,13.0,5.0,1.331380e+09,высокий рейтинг

### Задание 2
Используйте файл keywords.csv.

Нужно написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определённому региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']

}

Результат классификации запишите в отдельный столбец region.

In [8]:
geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [9]:
keywords_df = pd.read_csv('keywords.csv', encoding='utf-8')
keywords_df.head(3)

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114

In [10]:
geo_data_normalized = {}

for key, values in geo_data.items():
    for value in values:
        geo_data_normalized[value] = key


def geo_loc(data_series, geo_data_dict):

    # return data_series['keyword']
    for _key in geo_data_dict.keys():
        if _key in data_series['keyword']:
            return geo_data_dict[_key]
    return 'undefined'

In [11]:
keywords_df['region'] = keywords_df.apply(geo_loc, geo_data_dict=geo_data_normalized, axis=1)
# keywords_df.to_excel(excel_writer='xlsxwriter.xlsx', index=False, sheet_name='keywords', engine='xlsxwriter')
keywords_df.groupby('region')['keyword'].count()

region
undefined         99253
Дальний Восток       94
Северо-Запад        266
Центр               387
Name: keyword, dtype: int64